@model List<DataLayer.StorageArea>
@{
    ViewData["Title"] = "Система учета деталей ж/д вагонов";
}

<div class="text-center">
    <h1 class="display-4">Система учета деталей ж/д вагонов</h1>
    <hr />
    <h3 class="display-4">Для продолжения работы необходимо войти в систему!</h3>
</div>
